.container {
  justify-content: center;
  align-items: center;
  width: 600px;
}

.tabParent {
  margin-top: 20px;
  display: flex;
}

.Ingredients {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  gap: 10px;
}

.IngredientsContainer {
  width: 600px;
  height: 715px;
  overflow-y: auto;
  overflow-x: hidden;
}
.IngredientsTitle {
  display: flex;
}
