.App {
  text-align: center;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #2f2f37;
}

::-webkit-scrollbar-thumb {
  background-color: #8585ad;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8888d1;
}
