.IngredientsTitle {
  display: flex;
}
.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.infoItem {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal {
  position: fixed;
  border-radius: 40px;
  height: 539px;
  width: 720px;
  z-index: 6;
  top: 20%;
  left: 30%;
  background-color: #1c1c21;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.close {
  display: flex;
  flex-direction: row-reverse;
}
