.price {
  display: flex;
  justify-content: right;
  gap: 40px;
}
.priceContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4px;
}
.container {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 775px;
}
.burgerMiddle {
  display: "flex";
  justify-content: "center";
  align-items: center;
  max-height: 465px;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.burgerTopBotom {
  width: 600px;
}
