.price {
  display: flex;
  justify-content: right;
  gap: 40px;
}
.priceContainer {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 4px;
}
.container {
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  width: 600px;
}
.burgerMiddle {
  display: "flex";
  justify-content: "center";
  align-items: center;
  max-height: 465px;
  width: 570px;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal {
  position: fixed;
  border-radius: 40px;
  height: 718px;
  width: 720px;
  z-index: 6;
  top: 20%;
  left: 30%;
  background-color: #1c1c21;
  justify-content: center;
  align-items: center;
}

.close {
  display: flex;
  flex-direction: row-reverse;
}
.orderNumber {
  color: #ffffff;
  text-shadow: 0 0 20px #4040fa, 0 0 80px #4141fd;
}
.done {
  scale: 2;
}
